<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletDemoProject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletExample</display-name>
    <servlet-name>ServletExample</servlet-name>
    <servlet-class>ServletExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletExample</servlet-name>
    <url-pattern>/ServletExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitParam1</display-name>
    <servlet-name>InitParam1</servlet-name>
    <servlet-class>InitParam1</servlet-class>
      <init-param>
    <param-name>Company</param-name>
    <param-value>CTS</param-value>
    </init-param>
    <init-param>
    <param-name>Venue</param-name>
    <param-value>Chennai</param-value>
    </init-param>
    <init-param>
    <param-name>Training</param-name>
    <param-value>Java</param-value>
    </init-param>  
  </servlet>
  <context-param>
    <param-name>Company</param-name>
    <param-value>CTS</param-value>
    </context-param>
    <context-param>
    <param-name>Venue</param-name>
    <param-value>Chennai</param-value>
    </context-param>
    <context-param>
    <param-name>Training</param-name>
    <param-value>Java</param-value>
    </context-param>
  <servlet-mapping>
    <servlet-name>InitParam1</servlet-name>
    <url-pattern>/InitParam1</url-pattern>
  </servlet-mapping>
 </web-app>